In [1]:
import os
import sys
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)
import utils.input_output as io

In [2]:
os.chdir('..')
os.chdir('models')

In [3]:
m = io.read_model(r"BIOMD0000000294.xml")
'''
Other filenames included in the example are:
r'BIOMD0000000294.xml'
r'BIOMD0000000123.xml'
r'Toggle_Switch.sml'
'''

"\nOther filenames included in the example are:\nr'BIOMD0000000294.xml'\nr'BIOMD0000000123.xml'\nr'Toggle_Switch.sml'\n"

In [4]:
m.variables

    Name     Value
ID
N         1.000000
S         0.058824
I1        0.001770
I2        0.000001
R1        0.439407
R2        0.000000
V         0.900000
Iv2       0.500000
J2        0.000000
J1        0.000000
R         0.000000

## Can used bionetwork_models change_var_type method to eliminate S as a regular variable, and instantiate it as a control variable (CV) with attributes defined when it is set. This removes it from the list of variables.

In [5]:
m.change_var_type('S','CV',meas_gap=10,sp=5)
print(m.CV[0].meas_gap,m.CV[0].sp)
m.variables

10 5

    Name     Value
ID
N         1.000000
I1        0.001770
I2        0.000001
R1        0.439407
R2        0.000000
V         0.900000
Iv2       0.500000
J2        0.000000
J1        0.000000
R         0.000000